@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var fullname = currentUser?.FullName;
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-badge"></i> Hello @fullname!
            </button>

            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="bi bi-gear"></i> Profile settings
                    </a>
                </li>

                @* <li>
                    <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                        <i class="bi bi-list"></i> Orders
                    </a>
                </li> *@

                @if (User.IsInRole("Admin"))
                {
                    <hr class="dropdown-divider">
                    <li>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Index">
                            <i class="bi bi-people"></i> Registered Users
                        </a>
                    </li>
                }
            </ul>
        </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
